/EDA/halfhourly_dataset/*

/EDA/tft_houses/*

/EDA/dataframe_model/*

/src_NeuralProphet/*.csv

/src_NeuralProphet/eval_metrics/*.csv

/src_NeuralProphet/predictions/*.csv

/src_NeuralProphet/lightning_logs/*

/src_Prophet/eval_metrics/*.csv

/src_Prophet/predictions/*.csv

/src_Sarimax/eval_metrics/*.csv

/src_Sarimax/predictions/*.csv